/*

NOTE:
Contains custom CSS and also CSS Overrides based on all the other CSS files.

*/

:root,
body.theme-dark {
    --theme-code-block-default: #CCC;
    --theme-inline-code: #ffce76;
}

body.theme-light {
    --theme-code-block-default: #333;
    --theme-inline-code: #c7254e;
    --theme-background-navbar: #f1f1f1;
}

article h4 {
    border-bottom: none;
}

.footer {
    border-top: none;
    background-color: inherit;
}

footer {
    padding: 10px;
}

blockquote {
    font-style: normal;
}

pre code {
    color: var(--theme-code-block-default);
}

div.NOTE a {
    text-decoration: underline;
}

div.TIP a {
    text-decoration: underline;
}

article p img {
    display: block;
    margin: auto;
    border-width: 1px;
}

.featherlight .featherlight-content {
    background: var(--theme-body-background);
}

.sideaffix {
    width: auto;
    bottom: 0 !important;
}

.bs-docs-sidenav {
    width: 100%;
}

.affix ul>li.active>ul,
.affix ul>li.active>a:before,
.affix ul>li>a:hover:before {
    white-space: normal;
}

.theme-light .navbar.navbar-fixed-top {
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.theme-dark .navbar-brand.theme-light {
    display: none;
}

.theme-light .navbar-brand.theme-dark {
    display: none;
}

.navbar-brand {
    height: auto;
}

.navbar-brand img {
    width: 300px;
    height: auto;
}

.navbar-inverse {
    padding-top: 20px;
    min-height: 73px;
}

.navbar-form {
    margin-top: 0px;
}

.hide-when-search.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 100%;
}

.body-content.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 100%;
}

.article.grid-right {
    margin-left: 315px;
}

.sidefilter {
    top: 113px;
    width: 315px;
    margin-left: -15px;
}
  
.sidetoc {
    top: 173px;
    width: 315px;
    margin-left: -15px;
}

.sidetoc.shiftup {
    bottom: 75px;
}

.toc {
    margin-left: 20px;
}

@media screen and (max-width: 992px) {
    .col-md-10 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    p {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 768px){
    .article.grid-right {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .article.grid-right {
        margin-left: 26%;
        margin-right: 8.3%
    }
}
